.lista-pedidos {
    flex-grow: 3;
    display: grid;
    list-style-type: none;
    padding-left: 24px;
    padding-top: 24px;
  }
  .lista-pedidos_item {
    margin: 12px;
    max-width: 240px;
    max-height: 400px;
    display: inline;
  }